<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <stringAttribute key="implementation_name" value="Parallel (Declarative operations)"/>
    <listAttribute key="models">
        <listEntry value="storeOnDisposal=false&#10;expand=true&#10;aliases=&#10;modelFile=/six_dice/six_dice.uml&#10;cached=true&#10;name=AD&#10;concurrent=false&#10;type=UML&#10;readOnLoad=true"/>
        <listEntry value="#Mon Aug 28 11:27:55 BST 2023&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/SysML_ActivityDiagram2PRISM/six_dice_example/six_dice_prism.model&#13;&#10;metamodelUri=http\://www.deis-project.eu/ode/prism&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=PRISM&#13;&#10;modelUri=platform\:/resource/SysML_ActivityDiagram2PRISM/six_dice_example/six_dice_prism.model&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <intAttribute key="parallelism" value="7"/>
    <listAttribute key="parameters">
        <listEntry value="name=PROPS_FILEPATH&#10;type=String&#10;value=/scratch/staff/ky582/SESAME_repo_for_code_model/sesame_activity_prism_workspace/SysML_ActivityDiagram2PRISM/six_dice_example/die.props"/>
    </listAttribute>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/SysML_ActivityDiagram2PRISM/transformation/ad2prism_bfs.etl"/>
</launchConfiguration>
