<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <stringAttribute key="implementation_name" value="Parallel (Declarative operations)"/>
    <listAttribute key="models">
        <listEntry value="#Mon Dec 04 13:20:41 GMT 2023&#13;&#10;storeOnDisposal=false&#13;&#10;expand=true&#13;&#10;aliases=&#13;&#10;modelFile=/pal/pal.uml&#13;&#10;cached=true&#13;&#10;name=AD&#13;&#10;concurrent=false&#13;&#10;type=UML&#13;&#10;readOnLoad=true"/>
        <listEntry value="#Mon Dec 04 13:20:49 GMT 2023&#13;&#10;aliases=&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;modelFile=/SysML_ActivityDiagram2PRISM/pal/pal_prism.model&#13;&#10;metamodelUri=http\://www.deis-project.eu/ode/prism&#13;&#10;concurrent=false&#13;&#10;type=EMF&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelFile=&#13;&#10;cached=true&#13;&#10;name=PRISM&#13;&#10;modelUri=platform\:/resource/SysML_ActivityDiagram2PRISM/pal/pal_prism.model&#13;&#10;isMetamodelFileBased=false&#13;&#10;validate=false"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <intAttribute key="parallelism" value="7"/>
    <listAttribute key="parameters">
        <listEntry value="#Tue Dec 05 20:44:34 GMT 2023&#13;&#10;name=PROPS_FILEPATH&#13;&#10;type=String&#13;&#10;value=C\:\\\\Users\\\\fy668\\workspace-papyrus\\\\SysML_ActivityDiagram2PRISM\\\\pal\\\\prop.props"/>
        <listEntry value="#Tue Dec 05 20:44:34 GMT 2023&#13;&#10;name=DBG_LEVEL&#13;&#10;type=String&#13;&#10;value=3"/>
        <listEntry value="#Tue Dec 05 20:44:34 GMT 2023&#13;&#10;name=DBG_OPTION&#13;&#10;type=String&#13;&#10;value=true"/>
        <listEntry value="#Tue Dec 05 20:44:34 GMT 2023&#13;&#10;name=MEAN_DURATION&#13;&#10;type=String&#13;&#10;value=0.001"/>
    </listAttribute>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="true"/>
    <booleanAttribute key="reset_profiler" value="true"/>
    <stringAttribute key="source" value="/SysML_ActivityDiagram2PRISM/transformation/ad2prism_bfs.etl"/>
</launchConfiguration>
